* {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: -webkit-linear-gradient(left, #1f354c, #1b1b1b);
}

img {
  vertical-align: middle;
  border-style: none;
}
.navegacao {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 9999;
  background: none;
}
li {
  padding-left: 15px;
  list-style-type: none;
}

a {
  text-decoration: none;
}
.navLinks {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
  display: block;
  padding: 0.5rem 1rem;
  width: 100%;
  background: none;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1220px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background: none;
}

.nav-Bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
  width: 100%;
  gap: 3rem;
}
.menu {
  position: relative;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 4px;
  transition: transform 0.3s ease-in-out;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

.links {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  width: 140px; /* Defina o tamanho desejado para o menu */
  background-color: none;
  padding: 10px;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

@media (max-width: 980px) {
  .links {
    display: none;
    position: absolute;
    top: 0;
    right: 100%;
    width: 140px; /* Defina o tamanho desejado para o menu */
    background-color: #1f354c;
    padding: 10px;
    z-index: 9999;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
}

.menu.open .links {
  display: block;

  transform: translateX(-10%);
}

.navBar {
  list-style-type: none;
  padding: 0;
}

.navBar li {
  margin-bottom: 10px;
}

.a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.conteudo-about {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15%;
  padding: 15px;
  height: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

@media (max-width: 980px) {
  .conteudo-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15%;
    padding: 15px;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.imagem-about {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.imagem-about img {
  border-radius: 170px;
  width: 350px;
  height: 350px;
}

.texto-about {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.texto {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 700;
  width: 100%;
  padding: 15px;
  color: #fff;
  background: none;
}

.texto p,
h3 {
  background: none;
}

.sessao-about {
  background: -webkit-linear-gradient(left, #1f354c, #1b1b1b);
}

.banner {
  position: relative;
  background: url(/imagens/banner-top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  width: 100%;
}
.portfolio-section {
  padding: 50px 0;
}

.sessao-port {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: start;
  justify-items: center;
}

.project img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform: scale(1);
  transition: 1s ease-in-out;
}

.project img:hover {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.project h3 {
  margin-top: 10px;
  color: #fff;
  font-weight: 700;
}

.project p {
  margin-top: 5px;
  color: #fff;
  font-weight: 700;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.contato {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-top: 10%;
  gap: 50px;
  margin-bottom: 25px;
}

h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #fff;
  font-weight: 700;
}
.formulario {
  max-width: 480px;
  margin: 50px auto;
}
.campo {
  color: #aca4a4;
  font-family: "open_sansregular";
  font-size: 16px;
  border-radius: 0;
  line-height: 20px;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d2d2d2;
  transition: all 0.3s;
  padding: 11px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.campo:focus {
  border-bottom: 2px solid #10addd;
  color: #10addd;
  background-color: transparent;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

.botao {
  font-family: "open_sansregular";
  width: 100%;
  background: #10addd;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}

.botao:hover {
  background: #414141;
}

.icones-contato {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.form-contato {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: 1px solid #c0c0c0;
  padding: 15px;
  border-radius: 10px;
}

.icon {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.icon p {
  color: #6c9fd4;
  text-align: center;
}
